extends layout

block content
  br
  .container-fluid
    .row
    .col-md-3
    .col-md-7
      a.text-center(href='/') You have successfully logged out of the system. Click this link and return to homepage.