extends layout

block content
  .container-fluid
    .row
      .col-md-4
      .col-md-4
          h2.text-center= title
          br
          form(action='/reset_password' method='post')
            .form-group
              label.control-label(for='email') Your regestered E-mail address
              input#email.form-control(type='email' name='email')

            .form-group
              input.btn.btn-primary.btn-block(type='submit' value="Submit")

