extends layout

block content
  .container-fluid
    .row
      .col-md-3
      .col-md-6
          h2.text-center User Sign Up
          br
          form.form-horizontal(id='sign_up' action='/sign_up' method='post')
            .form-group
              label.col-md-3.control-label(for='username') Username
              .col-md-9
                input#username.form-control(type='text' name='username' placeholder="Username")
                span.confirmUsername#confirmUsername

            .form-group
              label.col-md-3.control-label(for='password') Password
              .col-md-9
                input#password.form-control(type='password' name='password' placeholder="Password" onkeyup="checkPass(); return false;")

            .form-group
              label.col-md-3.control-label(for='re_password') Confirm Password
              .col-md-9
                input#re_password.form-control(type='password' name='re_password' placeholder="Confirm Password" onkeyup="checkPass(); return false;")
                span.confirmMessage#confirmMessage

            .form-group
              label.col-md-3.control-label(for='email') E-mail
              .col-md-9
                input#email.form-control(type='email' name='email' placeholder="example@cuw.edu")

            .form-group
              label.col-md-3.control-label(for='user_group') User Group
              .col-md-9
                select#user_group.form-control(name='user_group')
                  option(value='super_user') Student Worker
                  option(value='interviewer') Interviewer
                  option(value='instructor') Instructor

            .form-group
              .col-md-offset-3.col-md-9            
                input.btn.btn-primary.btn-block(type='submit' value="Sign Up")

            div
              p.text-center If you have an account already, you may&nbsp
                a.btn.btn-primary(href='/login') Login
                | &nbspnow.


