extends ../layout

block content
  .container-fluid
    .row
      .col-md-3
      .col-md-6
          h2.text-center= title
          br
          form.form-horizontal(id='change_password' action='/users/change_password/#{user.UserID}' method='post')
            .form-group
              label.col-md-3.control-label(for='o_password') Original Password
              .col-md-9
                input#o_password.form-control(type='password' name='o_password')
                span#message

            .form-group
              label.col-md-3.control-label(for='password1') New Password
              .col-md-9
                input#password1.form-control(type='password' name='password1')
                
            .form-group
              label.col-md-3.control-label(for='password2') Comfirm Password
              .col-md-9
                input#password2.form-control(type='password' name='password2')
                span#message

            .form-group
              .row
                .col-md-offset-3.col-md-9           
                  input.btn.btn-primary.btn-block(type='submit' value="Update")
                  
            .form-group
              .row
                .col-md-offset-3.col-md-9 
                  a.btn.btn-primary.btn-block(href='/users/#{userid}') Cancel

